* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #1d1218;
    font-size: 16px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

.view-repos {
    margin-top: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    align-self: center;
    width: 300px;
}

.fa-toggle-on {
    color: #EFC3E6;
    font-size: 30px;
    cursor: pointer;
}

.fa-toggle-off {
    color: #FBFF12;
    font-size: 30px;
    cursor: pointer;
}

.fa-github-alt {
    color: #F0E6EF;
    margin: 30px 0 0 0;
    padding-bottom: 0;
    display: flex;
    align-self: center;
    font-size: 3.4rem;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    padding: 1em 0.5em;
    /* margin: 0; */
    text-align: center;
    background-color: #B8BEDD;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.logo-name {
    font-family: 'Arapey', serif;
    font-size: 3.6rem;
    text-transform: lowercase;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
  }

.badge {
    height: 80px;
    width: 50px;
    background-color: gray;
    z-index: 98;
    margin-bottom: -35px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-container-on {
    border-radius: 100%;
    z-index: 99;
    margin-top: auto;
    margin-bottom: 8px;
}

.toggle-container-off {
    border-radius: 100%;
    z-index: 99;
    margin-top: auto;
    margin-bottom: 8px;
}


.github-img {
    width: 45px;
    margin-right: 8px;
}

h3 {
    width: 100%;
    text-align: center;
    color: #1d1218;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.intro,
.repos {
    width: 100%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B8BEDD;
    color: #000;
    font-size: 18px;
    padding: 0 0 2em 0;
}


.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* padding-left: 5%; */
}

.user-info div p {
    width: 90%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #F0E6EF;
    padding-top: 19px;
    padding-bottom: 19px;
}

.user-info div p span {
    font-family: "Arapey", serif;
    font-size: 26px;
    text-transform: lowercase;
    font-style: italic;
    font-weight: bold;
    background-color: #EFC3E6;
    padding: 2px 20px 2px 20px;
    margin-right: 4px;
}

.filter-repos {
    width: 300px;
    height: 50px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid #B8BEDD;
    outline: none;
}

section .repo-data {
    padding-bottom: 1em;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B8BEDD;
    margin-top: 0;
    padding: 2em;
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 90%;
    margin: 1em 0;
    border: 1px solid #F0E6EF;
    padding: 0.5em;
}

.repo-list h3 {
    text-align: left;
    margin: 0;
    padding: 10px;
}

.repo-list h3:hover {
    background-color: #EFC3E6;
    cursor: pointer;
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

.repo-data {
    /* width: 100%; */
    width: 100%;
    background-color: #B8BEDD;
    display: flex;
    justify-content: center;
}

.repo-data div {
    margin: 0 0 0 0;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.repo-data h3 {
    font-size: 24px;
    text-align: left;
    color: #1d1218;
    display: flex;
}

.repo-data .repo-link {
    text-decoration: none;
    max-width: 200px;
    color: black;
    padding: 0.75em;
    margin: 2em 0 0 0;
    cursor: pointer;
    display: block;
    background: #EFC3E6;
    border: 1px solid white;
    align-self: center;
}

.repo-data .live-link {
    text-decoration: none;
    max-width: 200px;
    color: black;
    padding: 0.75em;
    margin: 1em 0 0 0;
    cursor: pointer;
    display: block;
    background: #F0E6EF;
    border: 1px solid white;
    align-self: center;
}

.repo-data .repo-link:hover {
    background-color: #F0E6EF;
}

.repo-data .live-link:hover {
    background-color: #dddddd;
}

.button-container {
    width: 100%;
    background-color: #B8BEDD;
    padding: 1rem 1rem 1rem 1rem;

}

.view-repos {
    max-width: 200px;
    margin: 0;
    background: #dddddd;
    border: 1px solid white;
    padding: 0.75em;
    display: flex;
    justify-content: flex-start;
}

.view-repos:hover {
    background-color: #F0E6EF;
}

.neon-mode {
    background-color: #414040;
    color: #fff;
  }

.neon-mode .badge {
      background-color: gray;
}

.neon-mode .fa-github-alt {
    color: #FBFF12;
}

.neon-mode .logo {
    background-color: #1d1218;
    color: #41EAD4;
}

.neon-mode .logo-name {
    color: #41EAD4;
}

.neon-mode h3 {
    color: lightgray;
}

.neon-mode .user-info {
    background-color: #1d1218;
}

.neon-mode .user-info div p span {
    background-color: #87257f;
}

.neon-mode .user-info div p {
    color: #fff;
}

.neon-mode .user-info div p {
    border-bottom: 1px solid gray;
}

.neon-mode .filter-repos {
    background-color: #1d1218;
    border: 2px solid #41EAD4;
    color: #fff;
}

.neon-mode .repos {
    background-color: #1d1218;
}

.neon-mode .repo-list li {
    border: 1px solid #87257f;
}

.neon-mode .repo-list h3:hover {
    background-color: #ddb0ff;
    color: #000;
}

.neon-mode .repo-data {
    background-color: #1d1218;
}

.neon-mode .repo-data .visit {
    color: white;
    background: #b93baf;
}
.neon-mode .repo-data .visit:hover {
    background-color: #ddb0ff;
    color: black;
}

.neon-mode .button-container {
    background-color: #1d1218; 
}

.neon-mode .view-repos {
    background: #dddddd;
    color: black;
}

.neon-mode .view-repos:hover {
    background-color: #ddb0ff;
}




@media (min-width: 700px) {
    .logo {
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }

    .logo-name {
        padding-left: 1rem;
    }

    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }

    .repo-data div {
        padding: 0 4rem 0 4rem;
    }

    .button-container {
        padding: 1rem 4rem 1rem 4rem;
    }
    
}

@media (min-width: 1200px) {

    .repo-list li {
        width: 30%;
    }
}